{{ define "main" }}
<div class="section">
    <div class="container mx-auto">
        <div class="md:flex">
            <div class="md:w-1/2">
                <div class="mx-auto grid max-w-2xl grid-cols-1 items-start gap-x-8 gap-y-16 sm:gap-y-24 lg:mx-0 lg:max-w-none lg:grid-cols-2">
                    <div class="lg:pr-4">
                      <div class="relative overflow-hidden rounded-3xl bg-gray-900 px-6 pb-9 pt-64 shadow-2xl sm:px-12 lg:max-w-lg lg:px-8 lg:pb-8 xl:px-10 xl:pb-10">
                        <img class="absolute inset-0 h-full w-full object-cover brightness-125 saturate-0" src="{{ .Params.image }}" alt="">
                        </div>
                      </div>
                    </div>
            </div>
            <div class="md:w-1/2">
                <div>
                    <div class="text-base leading-7 text-gray-700 lg:max-w-lg">
                      <p class="text-base font-semibold leading-7 text-indigo-600">Company values</p>
                      <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">On a mission to empower remote teams</h1>
                      <div class="max-w-xl">
                        <p class="mt-6">Faucibus commodo massa rhoncus, volutpat. Dignissim sed eget risus enim. Mattis mauris semper sed amet vitae sed turpis id. Id dolor praesent donec est. Odio penatibus risus viverra tellus varius sit neque erat velit. Faucibus commodo massa rhoncus, volutpat. Dignissim sed eget risus enim. Mattis mauris semper sed amet vitae sed turpis id.</p>
                        <p class="mt-8">Et vitae blandit facilisi magna lacus commodo. Vitae sapien duis odio id et. Id blandit molestie auctor fermentum dignissim. Lacus diam tincidunt ac cursus in vel. Mauris varius vulputate et ultrices hac adipiscing egestas. Iaculis convallis ac tempor et ut. Ac lorem vel integer orci.</p>
                        <p class="mt-8">Et vitae blandit facilisi magna lacus commodo. Vitae sapien duis odio id et. Id blandit molestie auctor fermentum dignissim. Lacus diam tincidunt ac cursus in vel. Mauris varius vulputate et ultrices hac adipiscing egestas. Iaculis convallis ac tempor et ut. Ac lorem vel integer orci.</p>
                      </div>
                    </div>
                    <dl class="mt-10 grid grid-cols-2 gap-8 border-t border-gray-900/10 pt-10 sm:grid-cols-4">
                      <div>
                        <dt class="text-sm font-semibold leading-6 text-gray-600">Founded</dt>
                        <dd class="mt-2 text-3xl font-bold leading-10 tracking-tight text-gray-900">2021</dd>
                      </div>
                      <div>
                        <dt class="text-sm font-semibold leading-6 text-gray-600">Employees</dt>
                        <dd class="mt-2 text-3xl font-bold leading-10 tracking-tight text-gray-900">37</dd>
                      </div>
                      <div>
                        <dt class="text-sm font-semibold leading-6 text-gray-600">Countries</dt>
                        <dd class="mt-2 text-3xl font-bold leading-10 tracking-tight text-gray-900">12</dd>
                      </div>
                      <div>
                        <dt class="text-sm font-semibold leading-6 text-gray-600">Raised</dt>
                        <dd class="mt-2 text-3xl font-bold leading-10 tracking-tight text-gray-900">$25M</dd>
                      </div>
                    </dl>
                    <div class="mt-10 flex">
                      <a href="#" class="text-base font-semibold leading-7 text-indigo-600">Learn more about our company <span aria-hidden="true">&rarr;</span></a>
                    </div>
                  </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  
{{ end }}