<div class="section" style="{{ if index .sectionData "background_color" }}background-color:{{ index .sectionData "background_color" }}{{ end }};{{ if index .sectionData "background_image" }}background-image:url({{ index .sectionData "background_image" }}){{ end }}">
    <div class="container mx-auto">
      <div class="md:flex items-center gap-10 md:space-y-0 space-y-10 {{ if index .sectionData "reverse_column" }} flex-row-reverse {{ end }}">
        <div class="md:w-1/2">
          <div class="content">{{ index .sectionData "body" | markdownify }}</div>
          {{ if index .sectionData "button" }}
            <div class="mt-10 flex items-center gap-x-6 lg:justify-start">
              <a href="{{ index .sectionData "button_link" }}" class="primary-button">{{ index .sectionData "button" }}</a>
            </div>
          {{ end }}
        </div>
        {{ if index .sectionData "image"}}
        <div class="md:w-1/2">
          <img src="{{ index .sectionData "image" }}" alt="{{ index .sectionData "imageAlt" }}">
        </div>
        {{ end }}
      </div>
    </div>
  </div>
  