{{ if index .sectionData "slider" }}
<div
  class="section"
  style="{{ if index .sectionData "background_color" }}background-color:{{ index .sectionData "background_color" }}{{ end }};{{ if index .sectionData "background_image" }}background-image:url({{ index .sectionData "background_image" }}){{ end }}"
>
<div class="container mx-auto" style="{{ with index .sectionData "body_color" }}color:{{ . }}{{ end }}">
    {{ with index .sectionData "body" }}
    <div class="mx-auto max-w-2xl text-center content">
        {{ . | markdownify }}
    </div>
    {{ end }}
</div>
    <div class="swiper-container-fPanel relative mt-16 overflow-hidden">
        <div class="swiper-wrapper">
        {{ range index .sectionData "featured_blocks" }}
        <div class="swiper-slide group">
          <a href="{{ .button_link }}">
            <div class="relative w-full h-80">
              {{ if .image }}
              <img
                src="{{ .image }}"
                alt="{{ .alt_text }}"
                class="absolute inset-0 -z-10 h-full w-full object-cover"
              />
              <!-- Add opacity transition class here -->
              <div class="absolute top-0 bottom-0 left-0 right-0 bg-black opacity-30 group-hover:opacity-50 transition-opacity"></div>
              {{ end }}
              {{ with .body }}
              <div
                class="mx-auto max-w-2xl content flex items-center h-full md:px-4 px-16 text-white relative z-10 text-center"
              >
                {{ . | markdownify }}
              </div>
              {{ end }}
            </div>
          </a>
        </div>
        
        {{ end }}
      </div>
      <!-- Add Navigation -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
</div>
<script>
    var mySwiper = new Swiper(".swiper-container-fPanel", {
      // Optional: Add your Swiper settings here
      spaceBetween: 10, // Space between slides (in pixels)
      loop: true, // Infinite loop
      breakpoints: {
      // For screens less than or equal to 640px wide (mobile)
      640: {
        slidesPerView: 1,
      },
      // For screens greater than 640px wide (tablet and above)
      768: {
        slidesPerView: {{ with index .sectionData "column_number" }}{{ . }}{{ else }}3{{ end }},
      },
    },
      navigation: {
        nextEl: ".swiper-button-next", // Next slide button
        prevEl: ".swiper-button-prev", // Previous slide button
      },
    });
  </script>
{{ else }}

<div class="section" style="{{ if index .sectionData "background_color" }}background-color:{{ index .sectionData "background_color" }}{{ end }};{{ if index .sectionData "background_image" }}background-image:url({{ index .sectionData "background_image" }}){{ end }}">
    <div class="container mx-auto" style="{{ with index .sectionData "body_color" }}color:{{ . }}{{ end }}">
        {{ with index .sectionData "body" }}
        <div class="mx-auto max-w-2xl text-center content">
            {{ . | markdownify }}
        </div>
        {{ end }}
        <div class="mx-auto mt-16 sm:mt-20 lg:mt-24">
            <div class="grid grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-{{ with index .sectionData "column_number" }}{{ . }}{{ else }}3{{ end }}">
            {{ range index .sectionData "featured_blocks" }}
            <div class="relative isolate flex justify-center items-center text-center h-full overflow-hidden px-8 py-40 sm:py-48 lg:py-32 rounded-sm">
                <a href="{{ .button_link }}">
                {{ if .image }}
                <img src="{{ .image }}" alt="{{ .alt_text }}" class="absolute inset-0 -z-10 h-full w-full object-cover">
                <div class="absolute top-0 bottom-0 left-0 right-0 bg-gray-900 opacity-50 group-hover:opacity-50 transition-opacity"></div>
                {{ end }}
                {{ with .body }}
                <div class="mx-auto max-w-2xl content flex items-center h-full md:px-4 px-16 text-white relative z-10 text-center">
                  {{ . | markdownify }}
                </div>
                {{ end }}
                </a>
              </div>
            {{ end }}
            </div>
        </div>
    </div>
</div>

{{ end }}
