<div class="section" style="{{ if index .sectionData "background_color" }}background-color:{{ index .sectionData "background_color" }}{{ end }};{{ if index .sectionData "background_image" }}background-image:url({{ index .sectionData "background_image" }}){{ end }}">
    <div class="container mx-auto" style="{{ with index .sectionData "body_color" }}color:{{ . }}{{ end }}">
        {{ with index .sectionData "body" }}
        <div class="mx-auto max-w-2xl text-center content">
            {{ . | markdownify }}
        </div>
        {{ end }}
        <div class="mx-auto mt-16 sm:mt-20 lg:mt-24">
            <div class="grid grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-{{ with index .sectionData "column_number" }}{{ . }}{{ else }}3{{ end }}">
            {{ range index .sectionData "featured_blocks" }}
            <div class="flex flex-col items-start">
            {{ if .image }}
            <div class="relative w-full">
                <img src="{{ .image }}" alt="{{ .alt_text }}" class="aspect-[16/9] w-full rounded-sm bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]">
              </div>
            {{ end }}
                <div class="max-w-xl mt-6 content">
                  <div>
                    {{ with .body }}
                        {{ . | markdownify }}
                    {{ end }}
                  </div>
                </div>
              </div>
            {{ end }}
            </div>
        </div>
    </div>
</div>
