<style>
    :root {
        --primary-button-background: {{ .Site.Data.appearance.colors_primary_button_background_color }};
        --primary-button-text-color: {{ .Site.Data.appearance.colors.primary_button_text_color }};
        --primary-link-color: {{ .Site.Data.appearance.colors.links }};
        --primary-accent-color: {{ .Site.Data.appearance.colors.accent }};
        --idx-title-color: {{ .Site.Data.appearance.colors.idx_title_background_color }};
        --idx-title-text-color: {{ .Site.Data.appearance.colors.idx_title_text_color }};
    }
</style>
