{{ $companyName := .Site.Data.profile.company_name }}
{{ $footer := .Site.Data.footer }}
{{ $footerContact := .Site.Data.profile.contact_information }}
{{ $footerSocial := .Site.Data.profile.social_media }}

<footer class="bg-cover relative bg-center bg-no-repeat py-20" style="{{ if $footer.background_color }}background-color:{{ $footer.background_color }}{{ end }}">
    <img src="{{ $footer.footer_background }}" alt="" class="absolute inset-0 -z-10 h-full w-full object-cover">
    <div class="absolute left-0 right-0 bottom-0 top-0" style="background-color: {{ $footer.overlay | safeCSS }}"></div>

    <div class="container mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-4 gap-4 {{ if $footer.enable_black_text }}text-white{{ else }}text-black{{ end }}">
            <div>
                {{ with $footer.logo }}
                <img src="{{ . | absURL }}" alt="{{ $companyName }}" width="{{ $footer.logo_width }}" />
                {{ else }}
                <h2 class="text-lg font-semibold editable">
                    Real Estate Team
                </h2>
                {{ end }}
                <ul class="mt-4">
                    {{ with $footerContact.name }}<li><p>{{ . }}</p></li>{{ end }}
                    {{ with $footerContact.license }}<li><p>{{ . }}</p></li>{{ end }}
                </ul>
                <div class="accent mt-4">
                    {{ partial "templates/social" . }}
                </div>
            </div>
            <div>
                <h2 class="text-lg font-semibold editable">
                    Contact
                </h2>
                <ul class="mt-4">
                    {{ partial "templates/contact" . }}
                </ul>
            </div>
            <div>
                <h2 class="text-lg font-semibold editable">
                    Quick Links
                </h2>
                <ul class="mt-4">
                    {{ range $footer.additional_links }}
                    <li><a href="{{ .link | absURL }}">{{ .name }}</a></li>
                    {{ end }}
                </ul>
            </div>
            <div>
                <div class="footer-text">
                    <h2 class="text-lg font-semibold editable">
                        About
                    </h2>
                    <p class="editable">
                        Customizable footer allows you to visually edit the footer content.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container mx-auto">
        <div class="grid">
            <div class="w-full text-center">
                <ul class="mt-4">
                    {{ range $footer.important_documents }}
                    <li><a href="{{ .document | absURL }}" target="_blank" class="font-semibold">{{ .name }}</a></li>
                    {{ end }}
                    <li><small>{{ $footer.disclaimer }}</small></li>
                    <li><small>&copy; Copyright {{ dateFormat "2006" now }}, {{ $companyName }} {{ if not $footer.remove_credit }}&middot; <a href="https://www.hungryram.com/services/agent-idx-websites/" target="_blank" class="font-semibold" rel="nofollow">Real Estate Website</a> Powered by <a href="https://www.hungryram.com">Hungry Ram Web Design</a>{{ end }}</small></li>
                    {{ if $footer.equal_housing_logo }}
                    <li class="inline-block mr-4"><img src="https://res.cloudinary.com/hungryram19/image/upload/v1628532562/Resources/equal-housing-opportunity-transparent_jdomdn.png" alt="equal housing opportunity logo" width="30" /></li>
                    {{ end }}
                    {{ if $footer.mls_logo }}
                    <li class="inline-block mr-4"><img src="https://res.cloudinary.com/hungryram19/image/upload/v1628532562/Resources/mls-logo_bpy61v.png" alt="mls logo" width="80" /></li>
                    {{ end }}
                    {{ if $footer.realtor_logo }}
                    <li class="inline-block"><img src="https://res.cloudinary.com/hungryram19/image/upload/v1628532562/Resources/REALTOR-mark_qhm0id.png" alt="REALTOR® logo" width="40" /></li>
                    {{ end }}
                </ul>
            </div>
        </div>
        <div class="grid py-2">
            <div class="flex justify-center">
                <ul class="hr-legals">
                    {{ range where $.Site.Pages.ByWeight "Type" "legal" }}
                    <li class="inline-block mr-6"><small><a href="{{ .Permalink }}">{{ .Title }}</a></small></li>
                    {{ end }}
                    <li class="inline-block mr-6">
                        <small>
                            <a href="{{ $.Site.BaseURL }}sitemap">Sitemap</a>
                        </small>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const dropdownContainers = document.querySelectorAll(".has-dropdown");

    dropdownContainers.forEach((container) => {
      const trigger = container.querySelector(".trigger");
      const dropdown = container.querySelector(".dropdown-menu");

      container.addEventListener("mouseenter", () => {
        dropdown.style.display = "block";
      });

      container.addEventListener("mouseleave", () => {
        dropdown.style.display = "none";
      });
    });
  });
</script>
</body>
</html>