<div class="md:w-2/5">
    <h2>TesT</h2>
    {{ range .Site.Data.appearance.page_sidebar.sidebar }}
    {{ if eq "side-blog-category" .template }}
    <div>
        <h2 class="text-lg font-bold">Blog Categories</h2>
        <ul uk-accordion>
            {{ range $name, $taxonomy := $.Site.Taxonomies.categories }}
            <li class="uk-open">
                <a class="uk-accordion-title" href="#">View all categories</a>
                <div class="uk-accordion-content">
                    <span uk-icon="triangle-right"></span><a href="/categories{{ $name | urlize | relURL }}" class="ml-1 text-blue-600 hover:underline">{{ $name | humanize }}</a>
                </div>
            </li>
            {{else}}
            <p>No blog categories just yet</p>
            {{ end }}
        </ul>
    </div>
    {{ end }}

    {{ if eq "latest-posts" .template }}
    <div>
        <h2 class="text-lg font-bold">Latest Posts</h2>
        {{ range first 4 (where $.Site.RegularPages "Type" "blog") }}
        {{ if ne .Title "" }}
        <a href="{{ .Permalink }}">
            <div class="mb-6 p-4 border rounded-lg">
                <h3 class="text-xl font-semibold" style="margin: 0;">{{ .Params.title }}</h3>
                <time class="text-sm"><small>{{.Date.Format "Jan 2, 2006" }}</small></time>
                <a href="{{ .Permalink }}" class="block mt-2 text-blue-600 hover:underline">Read more</a>
            </div>
        </a>
        {{ end }}
        {{ end }}
    </div>
    {{ end }}

    {{ if eq "custom-text" .template }}
    <div class="prose">
        {{ .body | markdownify }}
    </div>
    {{ end }}

    {{ if eq "custom-code" .template }}
    <div>
        {{ .textarea | safeHTML }}
    </div>
    {{ end }}

    {{ end }}
</div>
