{{ partial "global/head" . }}
{{ partial "global/navbar" . }}
{{ range .Params.home_sections }}

    {{ if eq "text-and-image" .type }}
    {{ partial "page-builder/call-to-action" (dict "sectionData" .) }}
    {{ end }}

    {{ if eq "hero" .type }}
    {{ partial "page-builder/hero" (dict "sectionData" .) }}
    {{ end }}

    {{ if eq "featured_grid" .type }}
    {{ partial "page-builder/featured-grid" (dict "sectionData" .) }}
    {{ end }}

    {{ if eq "featured_Panel" .type }}
    {{ partial "page-builder/featured-panel" (dict "sectionData" .) }}
    {{ end }}

    {{ if eq "team_section" .type }}
    {{ partial "page-builder/team-section" (dict "sectionData" .) }}
    {{ end }}
    

{{ end }}

{{ partial "global/footer" . }}